@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

html {
  background-color: #000;
  /* font-family: "Noto Sans"; */
  font-family: "Poppins";
}

.util-box-shadow-light-mode {
  box-shadow: 0px 0px 70px 15px rgba(205, 205, 205, 0.35);
}

.dropdown-line {
  content: "";
  position: absolute;
  left: 0;

  height: 2px;
  width: 100%;
  background: #000;
}
